@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --color-ink: #090A0A;
  --color-paper: #F1EFE8;
  --color-gray: #B8B8B0;
  --color-dark: #222422;
  --color-signal: #D6FF3F;

  --font-display: "Archivo Black", sans-serif;
  --font-sans: "Instrument Sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-ink);
  color: var(--color-paper);
  font-family: var(--font-sans);
  overscroll-behavior: none;
  overflow-x: hidden;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}